{% extends 'tour/main.html' %}
{% load staticfiles %}
{% block title_block %}
    APPLY ONLINE
    {% endblock %}
{% block content %}
    <div class="grid-container">
    <h5 class="blue-grey-text" style="font-family:'Ubuntu', bold; font-size: 25px; color: blue">You can be part of this great intiative and help change lives.Register Now</h5>
<form class="white darken-3" action="{% url 'home:register'%}" method="post">
{% csrf_token %}
    <table>
{{ form.as_table }}

    </table>

<div style="margin-top:10%; margin-bottom:10%;" class="col s12 center-align">
					        <button style="border-radius:3px;" class="button" type="submit" name="action">Register</button>
    </div>

</form>

    </div>
{% endblock %}