{% extends 'tour/main.html' %}
{% load staticfiles %}
{% block title_block %}
 Bill Confirmed
 {% endblock %}
{% block content %}
     <h5 class="author-title"><a href="{{ request.META.HTTP_REFERER }}"> <button type="button" class="button hollow alert topbar-responsive-button">
     <i class="fa fa-arrow-left " style="color:#002C3E" aria-hidden="true"></i>Go Back</button></a></h5>
    <h5 class="center">Lab Payment For  {{ bill.lab_test.visit.patient.first_name }} {{ bill.lab_test.visit.patient.last_name }}</h5>
<p class="center"> successfully confirmed
</p>
{% endblock %}