{% extends "tour/main.html" %}
{% block title %}Add A New Admission{% endblock %}
{% block content %}


    <div class="grid-x" xmlns="http://www.w3.org/1999/html">
        <div class="grid-container">
    <form method="post" enctype="multipart/form-data">
    <table>

    <div class="cell small-6 large-12">


    <h3>Add A New Admission</h3>

   {% csrf_token %}

        {{ admission_form.as_table }}


</div>
    </table>
        <button type="submit" class="primary button expanded search-button">
      Add Admission
    </button>
        </form>
    </div>
    </div>
{% endblock %}